.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index:100;
    border-bottom: 1px solid #f9f9f9;
    padding: 10px;
}
.header-logo{
    object-fit: contain;
    height: 60px;
}